@import ../../styles/helpers


.rightMessage 
  align-self: flex-end
  background-color: $n4
  color: white
  margin-top: 20px
  margin-bottom: 60px
  margin-right: 10px
  +dark
    background-color: $n6