@import ../../../styles/helpers


.wrapper
    background: $n
    border-radius: 8px
    padding: 30px
   
    +dark
        background: $n9
    
    .container
        .header
            width: 50rem
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .title
                margin-bottom: 10px
                text-align: center
                +m
                    font-size: 24px
            .paragraph
                text-align: center
                margin-bottom: 10px
                padding-top: 5px
                +title1-m
                color: $n4
                width: 45%

                +m
                    font-size: 14px
                
            
            .pic 
                width: 150px
        
        .boxContiner
            padding-top: 50px
            padding-bottom: 40px
            gap: 40px


            +w
                gap: 30px

            +t
                gap: 20px
               


.head
    display: flex
    justify-content: center
    align-items: center
    font-size: 16px
    font-weight: 500
    min-height: 30px
    padding: 14px
    border-radius: 12px
    border: 2px solid $n3
    cursor: pointer
    transition: all .2s
    svg
        flex-shrink: 0
        margin-right: 12px
        fill: $n4
        transition: fill .2s
    
    &.selected
        border-color: $p1

    +dark
        color: $n
        border-color: $n5
        &.selected
            border-color: $p1
    &:hover
        border-color: $p1
    
  




.buttonWrapper
    display: flex
    justify-content: center

    .button
        
        
    