@import ../../../styles/helpers


.wrapper
    background: $n
    border-radius: 8px
    padding: 30px
   
    +dark
        background: $n7
    
    .container
        .header
            .title
                margin-bottom: 12px
                text-align: center
                +m
                    font-size: 24px
            .paragraph
                text-align: center
                margin-bottom: 10px
                padding-top: 10px
                +title1-m
                color: $n4
                +m
                    font-size: 14px
    
        
        .boxContiner
            padding-top: 50px
            padding-bottom: 20px
            gap: 60px

            +w
                gap: 30px

            +t
                gap: 20px
            
            // .button
            //     padding-top: 12px
            //     padding-bottom: 12px
            //     padding-left: 30px
            //     padding-right: 30px
            //     border: 2px solid $n3
            //     border-radius: 12px
            //     &:hover
            //         border: 2px solid $p1

                
                
            //     &.selected
            //         border: 2px solid $p1

            //     +dark
            //         color: $n
            //         border: 2px solid $n6
            //         &:hover
            //             border: 2px solid $p1
                        
                    
            //         &.selected
            //             border: 2px solid $p1
                        


.head
    display: flex
    justify-content: center
    align-items: center
    font-size: 16px
    font-weight: 500
    min-height: 30px
    padding: 14px
    border-radius: 12px
    border: 2px solid $n3
    cursor: pointer
    transition: all .2s
    svg
        flex-shrink: 0
        margin-right: 12px
        fill: $n4
        transition: fill .2s
    
    &.selected
        border-color: $p1

    +dark
        color: $n
        border-color: $n6
        &.selected
            border-color: $p1
    &:hover
        border-color: $p1
    
  




.buttonWrapper
    display: flex
    justify-content: center

    .button
        
        
    